# Data types

# 1. Int

In [11]:
a = 1_000_1000
print("a = ", a)

b = 0xA0_F0
print("b = ", b)

a =  10001000
b =  41200

In [3]:
print(type(10))

print(type(0b1100))

print(type(0o12))

print(type(0xA0))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [6]:
print(oct(10))

print(hex(10))

0o12
0xa

# 2. Float

In [5]:
print(type(3.14))

print(3.14e-3)

print(float("3.14"))

<class 'float'>
0.00314
3.14

In [9]:
a = 2 + 3j
b = 5 + 3j

print("a + b = ", a + b)
print(type(a+b))

a + b =  (7+6j)
<class 'complex'>

# 3. String

In [12]:
print('Hello')
print("Hello")

Hello
Hello

In [15]:
print("\\t")
print(r"\t")

\t
\t

In [18]:
print("{} / {} = {}".format(10, 3, 10/3))

print("{2} / {1} = {0}".format(10/3, 3, 10))

print("{n1} / {n2} = {res}".format(n1=10, n2=3, res=10/3))

10 / 3 = 3.3333333333333335
10 / 3 = 3.3333333333333335
10 / 3 = 3.3333333333333335

In [22]:
print("{0:d} / {1:d} = {2:f}".format(10, 3, 10/3))

print("{0:3d} / {1:3d} = {2:5.3f}".format(10, 3, 10/3))

print("{:3d} / {:3d} = {:5.3f}".format(10, 3, 10/3))

10 / 3 = 3.333333
 10 /   3 =  3.333
 10 /   3 = 3.333

In [23]:
names = ["finn", "jake", "ice king"]

print("Adventure time: {n[0]} {n[1]} {n[2]}".format(n=names))

Adventure time: finn jake ice king

In [27]:
pwd = {"ben": "12345", "eve":"45678"}

print("ben's passward: {pwd[ben]}".format(pwd=pwd))

12345
ben's passward: 12345

In [33]:
name = "ben"
print(f"Hello {name}")

name = None
print(f"Hello {'guest' if name == None else name}")

Hello ben
Hello guest

In [34]:
pi = 3.1415926
print(f"pi = {pi:.2f}")

pi = 3.14

In [38]:
text = "龍"
print(f"str: {text}, {type(text)}, {len(text)}")

utf8_text = text.encode("UTF-8")
print(f"utf8: {utf8_text}, {type(utf8_text)}, {len(utf8_text)}")

big5_text = text.encode("Big5") 
print(f"big5: {big5_text}, {type(big5_text)}, {len(big5_text)}")

str: 龍, <class 'str'>, 1
utf8: b'\xe9\xbe\x8d', <class 'bytes'>, 3
big5: b'\xc0s', <class 'bytes'>, 2

# 3. Collections

## (1) List

In [42]:
nums = [1, 2, 3]

nums.append(4)
print(nums)

nums.remove(2)
print(nums)

del nums[0]
print(nums)

[1, 2, 3, 4]
[1, 3, 4]
[3, 4]

In [66]:
a, *b = [1, 2, 3, 4]
print(f"a: {a}")
print(f"b: {b}")

a: 1
b: [2, 3, 4]

## (2) Set

In [46]:
users = set()

users.add("ben")
users.add("jake")
users.add("finn")
users.add("jake") # oops

print(users)

users.remove("finn")
print(f"Is finn in users? {'finn' in users}")

{'jake', 'ben', 'finn'}
Is finn in users? False

In [51]:
num_set = set(nums) 
print(num_set)

{3, 4}

## (3) Dictionary

In [61]:
pwd = {"ben": 12345, "finn": 45678, "jake": 33456}

print(f"Password of ben: {pwd['ben']}")
      
pwd_ice_king = pwd.get("ice_king", "Use not fount")
print(pwd_ice_king)

Password of ben: 12345
Use not fount

In [64]:
print(list(pwd.keys()))
print(list(pwd.values()))

['ben', 'finn', 'jake']
[12345, 45678, 33456]

## (4) Tuple

In [69]:
my_tup = 10, 20, 30,
print(f"{my_tup}, {type(my_tup)}")

(10, 20, 30), <class 'tuple'>

In [70]:
my_tup = (10, 20, 30,)
print(f"{my_tup}, {type(my_tup)}")

(10, 20, 30), <class 'tuple'>

In [71]:
*a, b = my_tup = (10, 20, 30,)
print(f"a: {a}")
print(f"b: {b}")

a: [10, 20]
b: 30

# Variable

In [74]:
x = 10
y = x

print(f"id(x): {id(x)}")
print(f"id(y): {id(y)}")

x += 1

print(f"id(x): {id(x)}")
print(f"id(y): {id(y)}")

id(x): 9508256
id(y): 9508256
id(x): 9508288
id(y): 9508256

In [75]:
lst1 = [1, 2, 3]
lst2 = [1, 2, 3]

print(lst1 == lst2)
print(lst1 is lst2)

True
False

In [76]:
import sys

x = 10
y = x
z = y

print(sys.getrefcount(z))

192